.nav-container {
  top: 158px;
  /* left: 10px; */
  left: 69px;
  height: 37px;
  width: 37px;
  position: absolute;
  z-index: 2;
}
.nav-container-slidein {
  /* transform: translateX(-375px);
        transition: transform 400ms ease-in; */
  transform: translateX(0px);
  transition: transform 200ms ease-in;
}
.nav-container-slideout {
  /* transform: translateX(0px);
        transition: transform 400ms ease-in; */
  transform: translateX(305px);
  transition: transform 200ms ease-in;
}

.zoomButton {
  width: 30px !important;
  height: 30px !important;
  line-height: 25px !important;
  border-radius: 4px !important;
  color: #5d5d5d !important;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
  box-shadow: 0px 0px 5px 0px rgba(80, 80, 80, 0.69);
  cursor: pointer;
  font-size: 24px;
  user-select: none;
  text-align: center;
  font-family: verdana, helvetica;
  margin-bottom: 5px;
  display:none;
}





.navigationButton {
  margin-top: 5px;
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  border-radius: 100px;
  box-shadow: 0px 0px 5px 0px rgba(80, 80, 80, 0.69);
  background-position: center center;
}

.navigationContent {
width: 30px;
height: 30px;
background-color: transparent !important;
background-repeat: no-repeat;
border-radius: 100px;
box-shadow: 0px 0px 5px 0px rgba(80, 80, 80, 0.69);
background-position: center center;
}
.navigationButton:hover{
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(200, 200, 200, 1) 100%) !important;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(200, 200, 200, 1) 100%) !important;
}
.fullExtentContent {
  background-image: url(./images/globe-icon.png);
}
.zoomToCurrentLocationContent {
  background-image: url(./images/target.png);
}
.measureContent {
  background-image: url(./images/measure.png);
}
.identifyToggleContent {
  background-image: url(./images/identify_cursor.png);
}
.toggleOn {
  box-shadow: inset 0px 0px 5px 0px rgba(100, 100, 100, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(210, 210, 210, 1) 100%) !important;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(210, 210, 210, 1) 100%) !important;
}

@media only screen and (max-width: 770px) {
  .nav-container {
    top: 61px;
    left: 10px;
    height: 37px;
    width: 37px;
    position: absolute;
  }

  .nav-container-slideout {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    transform: none !important;
  }

  .nav-container-slidein {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    transform: none !important;
  }
}
